body{
    background-image: url(somebckg.png);
    background-color: #E8EAF6;
    font-family: 'Oxygen', sans-serif;;
}
.navbar-custom{
    background-color: #424242; /* Navbar color*/
}
.navbar-default .navbar-nav > li > a {
    color: #8BC34A;             /*Navbar buttons color*/
}
.navbar-default .navbar-nav > li > a:hover {
    color: silver;               /* Navbar buttons color hover*/
}
.navbar-default .navbar-brand{
    color: #cddcdb;
    text-shadow: black 0.2em 0.2em 0.3em;
}

.navbar {
    font-family: 'Francois One', sans-serif; /* fonts in navbar */
    font-size: 19px;
    font-weight: 400;
}

.navbar-brand {
    font-family: 'Francois One', sans-serif; /*brand font */
    font-weight: 500; font-size: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: silver;
}

.form-control{
    width: 305px;
}

.mysearch{
    height: 34px; /* search-button in navbar*/
}

.searchform{
    padding-top: 3px; /* input+button for searching in navbar */
}

.regContainer{                  /* Form for authorization and registration*/
    width: 30%;
    margin: 0 auto;
    border-style: groove;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    background-color: white;
}

.regInput{
    width: 100%;  /*Inputs in registration and authorization*/
}

#profileContainer{
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
}

.tariffContainer{
    margin: 0 auto;
    border-style: groove;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    background-color: white;
}

/* Table of tarrifs*/
/* Table of tarrifs*/
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
    width: 35px;
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {
    display: block;
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.kyivstar {
    color: #428bca;
}
.table-filter .media .title span.lifecell {
    color: #f0ad4e;
}
.table-filter .media .title span.vodafone {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
/* Table of tarrifs*/
/* Table of tarrifs*/

.viewTarContainer{ /*Container for Tariffs view*/
    background-color: white;
        border-radius: 5px;
    border-style: groove;
}
.mypanel{
    color: #31708f;
    background-color: #d9edf7; /*Filtration panel*/
    border-color: #bce8f1;
}


/*CheckBox*/
/*CheckBox*/

/*CheckBox*/
/*CheckBox*/

/*Commentaries*/
/*Commentaries*/
.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: groove;
}

.bs-calltoaction > .row{
    display:table;
    width: calc(100% + 30px);
}

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title{
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}
.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #7CB342;
}
.commentsText{
    background-color: #F5F5F5;
    padding: 8px 8px 8px 8px;
    border-style: groove;
}

/*Commentaries*/
/*Commentaries*/

#lineHr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
                          /*Divider*/
}

/*Warnings with icons*/
/*Warnings with icons*/
.msg {
    background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
    -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-warning {
    border-color: rgba(255,165,0,.5);
}
.msg-danger-text {
    color: #c9302c;
}

.clickable
{
    cursor: pointer;
}
/*Warnings with icons*/